.grid{
  display: grid;
  row-gap: 2.5rem;

  &--col-3{
    grid-template-columns: auto auto auto;
  }
  &--col-4{
    grid-template-columns: auto auto auto auto;
  }

  @media screen and (max-width: $sm) {
  row-gap: 1.5rem;
  grid-template-columns: auto;
  }
}